@model IEnumerable<Modelo.Cadastros.Calendario>
@{
    Layout = "_LayoutIES";
}
@section styles {
    <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
}

<div class="card-title">
    <div class="card-header text-white bg-primary text-center h1">Gerador de Qr Code para presenca</div>
    <div class="card-columns">
        <table>          
            <tr>             
                <th>
                    @if (@ViewBag.data != null)
                    {
                        <qrcode content="@ViewBag.data" width="250 " height="250"></qrcode>
                    }
                </th>
            </tr>
        </table>
    </div>
    <div class="card-footer bg-success text-center">
        <form method="post" asp-controller="qrcode" asp-action="generate"></form>
        <a asp-action="Generate" class="btn-success">Gerar</a>
    </div>
</div>

