@model Modelo.Cadastros.Unidade
@{
    Layout = "_LayoutIES";
}
@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}
<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma unidade existente</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="UnidadeID" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input asp-for="UnidadeID" class="form-control" disabled="disabled" />
            </div>

            <label asp-for="UnidadeNome" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
                <input asp-for="UnidadeNome" class="form-control" disabled="disabled" />
            </div>

            <label asp-for="Status" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </span>
                <input asp-for="Status" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <form asp-action="Delete">
            <input type="hidden" asp-for="UnidadeID" />
            <input type="submit" value="Remover Unidade" class="btn btn-light" />
            <a asp-action="Index" class="btn btn-info">Retornar à listagem de unidades</a>
        </form>
    </div>
</div>
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
