
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    @*<form method="post" asp-controller="qrcode" asp-action="generate">
        <input type="text" placeholder="" name="senha" value="@ViewBag.data" />
        <input type="submit" value="Generate" />
    </form>*@

    <qrcode content="@ViewBag.data" width="250 " height="250"></qrcode>

    <meta http-equiv="refresh" content="2" />
</body>
</html>
